html {
	background: #1e2029;
	box-sizing: border-box;
	font-size: 100%;
	line-height: 1.5;
	color: #a5b3c6;
}

:where(*, *::before, *::after){
	box-sizing: inherit;
}

:where(body, button, input, select, textarea){
	font-family: monospace;
	font-size: 1em;
}

:where([visually-hidden]) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
	min-height: 100dvh;
	display: grid;
	justify-items: center;
	align-items: center;
	align-content: center;
	gap: 1em;
}

video {
	width: 75vw;
	max-width: 1024px;
	aspect-ratio: 16 / 10;
	background: #000000;
}

label {
	background: #000000;
	padding-block: .25em;
	padding-inline: .875em 1em;
	border-radius: 99em;

	display: flex;
	align-items: center;
	gap: .5em;

	font-weight: bold;
	text-transform: uppercase;

	&::before {
		content: '';
		width: .75em;
		height: .75em;
		background: #1e2029;
		border-radius: 99em;
	}

	&:has(:checked){
		&::before {
			animation: recording .4s ease alternate infinite;
		}
	}
}

@keyframes recording {
	to {
		background: #cf2958;
	}
}